
<form action="/Home/Login" method="post">
    <label for="nome" id="nome">Nome:</label>
    <input type="text" id="nome" Name ="nome" class="form-control" />

    <label for="senha" id="senha">Senha:</label>
    <input type="password" id="senha" name ="senha" class="form-control" />

    <input type="submit" id="nome" name="Confirmar" class="btn-block" />
</form>