

    <form action="/Produto/Adiciona" method="post">
        @Html.AntiForgeryToken()
        <label for="nome">Nome:</label>
        <input id="nome" name="produto.nome" class="form-control"/>
        @Html.ValidationMessage("produto.nome")

        <label for="quantidade">Quantidade:</label>
        <input id="quantidade" name="produto.quantidade" class="form-control"/>

        <label for="preco">Preco</label>
        <input id="preco" name="produto.preco" class="form-control"/>

        <label for="categoria">Categoria:</label>
        <select id="categoria" name="produto.CategoriaId" class="form-control">
            @foreach (var categoria in ViewBag.Categorias)
            {
                <option value="@categoria.Id">@categoria.Nome</option>
            }


        </select>
        <input type="submit" value="Cadastrar" class="btn btn-default"/>
    </form>

